<!DOCTYPE html>
<html>
<head>
  <title>password Page</title>
</head>
<body>
<form action="/password" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <label for="newpassword">NewPassword:</label>
  <input type="password" id="newpassword" name="newpassword"><br><br>

  <input type="submit" value="Submit">
  <input type="button" value="Cancel" onclick="window.location.href='/'">
</form>
</body>
</html>